$light-blue: #e0f8ff;
$light-green:  #D9ED96;
$light-grey: #b2b5b0;
$grey: #D9ED96;

body {
  background-color: $light-blue;
  .panel-success>.panel-heading {
    background-color: #D9ED96;
  }
  .panel-success {
    border-color: $light-grey;
  }
}

input {
  width: 30%;
}

.col-lg-3{
  padding: 0;
}

/* Override Bootstrap CSS */

.form-group {
  margin-bottom: 0;
}

.btn-default:hover {
  color: #333;
  background-color: $light-grey;
  border-color: $light-grey;
}

/* End Overrides */

.event-container {
  padding: 20px;
}

#input {
  background-color: $light-green;
  padding-bottom: 20px;
}

#list {
  margin-top: 5%;
}


.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
    height: 20px;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;
}
