$primary-color-dark:   #455A64;
$primary-color:        #607D8B;
$primary-color-light:  #CFD8DC;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFC107;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

$dark-text-color: $primary-text-color;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  -webkit-transition: all 0.5s ease;
  -moz-transition:    all 0.5s ease;
  -ms-transition:     all 0.5s ease;
  -o-transition:      all 0.5s ease;
}

body {
  background-color: $primary-color-dark;
  color: $primary-color-text;
  font-family: 'Open Sans', sans-serif;

  .panel {
    color: $dark-text-color;
  }
  .panel-success>.panel-heading {
    background-color: $primary-color;
  }
  .panel-success {
    border-color: $divider-color;
  }
}

#question_buttons {
  h4 {
    font-size: 24px;
  }
  button {
    width: 100%;
  }
}

strong {
  visibility: none;
  display: none;
}

h1.hero {
  padding-top: 80px;
  padding-bottom: 25px;
}

input {
  width: 30%;
}

.col-lg-3{
  padding: 0;
}


/* Business Card rules */

.biz-rule-card {
  .panel-heading {
    cursor: pointer;
    background-color: $primary-color;
  }
  .panel-title {
    color: $primary-color-text;
  }
  .checked {
    display: none;
  }
}

$pleasant-green: #5cb85c;

.green {
  background-color: $pleasant-green !important;
  color: white;
}

.red {
  background-color: red !important;
  color: white;
}

.red-font {
  color: red !important;
}

.requirement_row button.selected {
  background-color: $pleasant-green
}

.expando-thingy {
  color: $primary-color-text;

  transform: rotate(0deg);
  transition: transform 0.5s linear;
}

.collapsed .expando-thingy {
  transform: rotate(180deg);
  transition: transform 0.5s linear;
}

/* End Business Card rules */

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
  height: 18px !important;
}

/* Override Bootstrap CSS */

.form-group {
  margin-bottom: 0;
}

/* End Overrides */

.event-container {
  padding: 20px;
  min-height: 20vh;
  .life-events {
    margin-top: 40px;
  }
  #apply-btn{
    margin-top: 5px;
  }
  h4 {
    color: white;
  }
}
.background {
  background-color: $primary-color;
  min-height: 20vh;
}
#input {
  @include border-radius(4px);
  background-color: $primary-color;
  padding-bottom: 20px;
  color: $dark-text-color;
}

#list {
  margin-top: 5%;
}

.page-button-container {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 9999;
  .answers-container {
    padding: 5px;
  }
}

.debug-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 9999;
}

#debugModal {
  top: 100px;
  color: $primary-text-color;
}

#applyModal {
  color: $primary-text-color;
}

@keyframes apply {
    0%   {background-color: #455A64}
    25%  {background-color: #5cb85c;}
    50%  {background-color: #005000;}
    75%  {background-color: #5cb85c;}
    100% {background-color: #455A64;}
}

.fade-in {
  animation: fade-in 0.5s forwards;
  -webkit-animation: fade-in 0.5s forwards;
}

.slide-out {
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-moz-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes fade-in {
  100% { -webkit-transform: translateX(0%); }
}

@keyframes slide-out {
  0% { transform: translateX(0%); }
  100% { transform: translateX(100%); }
}

@-webkit-keyframes slide-out {
  0% { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translateX(100%); }
}

.user-obj-correct {
  background-color: #ac2925;
}

@keyframes correct {
    0%   {background-color: #ac2925;}
    50%  {background-color: rgba(255, 100, 0, 1)}
    100% {background-color: #ac2925;}
}


.animate-apply {
  animation-duration: 3s;
  animation-name: apply;
  animation-iteration-count: 99;
  :focus {
    outline: none;
  }
}

.animate-correct {
  animation-duration: 1.5s;
  animation-name: correct;
  animation-iteration-count: 99;
  :focus {
    outline: none;
  }

}

.biz-rule-card {
  padding: 0 10px 0 10px;
}

.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
    z-index: 99;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
    height: 20px;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;
}
