body {
  background-color: #e0f8ff;
}

input {
  width: 30%;
}

.col-lg-3{
  padding: 0;
}

/* Override Bootstrap CSS */

.form-group {
  margin-bottom: 0;
}

.panel-success>.panel-heading {
  background-color: #D9ED96;
}
.panel-success {
  border-color: #b2b5b0;
}

.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

/* End Overrides */

.event-container {
  padding: 20px;
}

#input {
  background-color: #D9ED96;
  padding-bottom: 20px;
}

#list {
  margin-top: 5%;
}


.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
    height: 20px;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;
}
