$primary-color-dark:   #455A64;
$primary-color:        #607D8B;
$primary-color-light:  #CFD8DC;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFC107;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

$dark-text-color: $primary-text-color;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

body {
  background-color: $primary-color-dark;
  color: $primary-color-text;

  .panel {
    color: $dark-text-color;
  }
  .panel-success>.panel-heading {
    background-color: $primary-color;
  }
  .panel-success {
    border-color: $divider-color;
  }
}

input {
  width: 30%;
}

.col-lg-3{
  padding: 0;
}

/* Override Bootstrap CSS */

.form-group {
  margin-bottom: 0;
}

/*.btn-primary {
  color: $dark-text-color;
  background-color: $primary-color-light;
}

.btn-default:hover {
  color: $dark-text-color;
  background-color: $divider-color;
  border-color: $divider-color;
}*/

/* End Overrides */

.event-container {
  padding: 20px;
}

#input {
  @include border-radius(4px);
  background-color: $primary-color;
  padding-bottom: 20px;
  color: $dark-text-color;
}

#list {
  margin-top: 5%;
}


.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
    height: 20px;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;
}
